.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
}

.wrapper h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    width: 100%;

    background: var(--white);

    border-radius: 4px;
}
