/* ------------------------- PAGE -------------------------  */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    max-width: 1200px;
}

.wrapper h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    width: 100%;

    background: var(--white);

    border-radius: 4px;
}

/* ------------------------- HEADER -------------------------  */
.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
}

.header div {
    display: flex;
    gap: 0.5rem;
}

.header button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    width: 100%;

    background: var(--main);
    color: var(--white);

    font-size: 1rem;
    font-family: inherit;

    border: none;
    border-radius: 4px;
}

.header button svg {
    height: 1rem;
}

.header h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    background: var(--white);

    font-size: 1.25rem;
    font-weight: 500;

    border-radius: 4px;
}

/* ------------------------- RESULTS -------------------------  */
.results {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
}

.results h3 {
    display: flex;

    padding: 1rem;

    font-size: 1.125rem;
    font-weight: 500;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

/* ------------------------- GRID -------------------------  */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}
