.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
}

.wrapperLeft,
.stickyWrapper,
.wrapperRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapperLeft {
    gap: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.wrapperLeft .header {
    justify-content: center;
}

.header h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

    height: 1.075rem;

    font-size: 1.125rem;
    font-weight: 400;

    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    padding: 1.5rem;
    height: 100%;

    background: var(--white);

    font-size: 1rem;
    font-weight: 375;
    text-align: center;

    border-radius: 4px;
}

.content p {
    max-width: 450px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.grid .content a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    padding: 0.5rem 0.75rem;

    background: var(--white);
    color: var(--main);

    border: 2px solid var(--main);
    border-radius: 4px;

    box-shadow: 1px 2px 3px transparent;

    transition: transform 300ms, box-shadow 300ms;
}

.grid .content a > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.grid .content a > svg {
    height: 0.5rem;
    width: 0.5rem;
}

.grid .content a:hover {
    box-shadow: 1px 2px 3px var(--light-pink);

    transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
