:root {
    --main: #6e13c4;
    --light-main: #b88edf;
    --lighter-main: #eae2f2;
    --black: #040404;
    --dark: #141414;
    --gray: #242424;
    --light-gray: #949494;
    --shadow: #545454;
    --best-seller: #432ab5;
    --light-pink: #e3c4f0;
    --white: #fff;
}

/* @media (prefers-color-scheme: dark) {
    :root {
    }
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: var(--lighter-main);
    color: var(--gray);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    padding-top: 84px;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media screen and (min-width: 768px) {
    body {
        overflow-x: visible;
    }
}
