.notFound {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    padding-top: 99px;

    background: var(--gray);
    color: var(--white);

    text-align: center;

    min-height: 100vh;
    min-height: 100dvh;
    min-width: 100%;
}

.notFound :where(h1, h2) {
    font-weight: 400;
}

.notFound span {
    width: 2px;
    height: 3rem;

    background: var(--white);

    border-radius: 4px;
}
