.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 1rem;
    padding-top: 84px;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
} */
