.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    padding-top: 84px;
}

.main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
    max-width: 1200px;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
} */
