.breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 4px;

    overflow: hidden;
}

.breadcrumbs :where(a, span) {
    padding: 0.5rem 0.75rem;

    background: var(--white);
    color: var(--main);

    border-radius: 2px;
}

.breadcrumbs span {
    background: var(--main);
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .breadcrumbs {
        display: none;
    }
}
