.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.header h4 {
    font-size: 1.25rem;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem 0.75rem;

    background: var(--white);
    color: var(--main);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: transform 300ms, border-color 600ms;
}

.link:hover {
    border-color: var(--light-pink);

    transform: scale(1.05);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.grid > a {
    display: none;
}

.grid > a:nth-child(-n + 4) {
    display: flex;
}

@media screen and (min-width: 375px) {
    .header h4 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid > a:not(:nth-child(-n + 6)) {
        display: none;
    }

    .grid > a:nth-child(-n + 6) {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .topLink {
        display: flex;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid > a:not(:nth-child(-n + 4)) {
        display: none;
    }

    .grid > a:nth-child(-n + 4) {
        display: flex;
    }

    .bottomLink {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid > a:not(:nth-child(-n + 5)) {
        display: none;
    }

    .grid > a:nth-child(-n + 5) {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid > a:not(:nth-child(-n + 6)) {
        display: none;
    }

    .grid > a:nth-child(-n + 6) {
        display: flex;
    }
}
