.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;

    width: 100%;
    height: 100%;

    background: var(--white);

    border: 2px solid transparent;
    border-radius: 4px;

    overflow: hidden;
    transition: border-color 300ms;
}

.card:hover {
    border-color: var(--main);
}

.card:hover .name {
    color: var(--main);
    text-shadow: 1px 1px var(--light-pink);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    height: 100%;
    width: 100%;
}

.image img {
    max-height: 125px;
    max-width: 100px;
    height: auto;

    object-fit: contain;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
}

.offer span {
    white-space: nowrap;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.price span:nth-child(1) {
    font-size: 0.75rem;
    text-decoration: line-through;
    font-weight: 375;
}

.price span:nth-child(2) {
    font-size: 1.125rem;
    font-weight: 400;
}

.discount,
.bestSeller,
.sold {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.25rem 0.5rem;
    width: fit-content;

    background: var(--main);
    color: var(--white);

    font-size: 0.75rem;

    border: 2px solid transparent;
    border-radius: 4px;
}

.name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

    height: 1.1rem;

    font-size: 1.125rem;
    font-weight: 375;

    text-shadow: 1px 1px transparent;

    overflow: hidden;
    transition: color 300ms, text-shadow 300ms;
}

.bestSeller {
    background: var(--best-seller);
}

.sold {
    background: var(--white);
    color: var(--best-seller);

    border-color: var(--best-seller);
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

    height: 2.2rem;

    color: var(--light-gray);

    font-size: 0.75rem;

    overflow: hidden;
}

@media screen and (min-width: 375px) {
    .image img {
        max-width: 125px;
    }
}
