.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--main);
    color: var(--white);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    padding: 3rem 1rem;

    width: 100%;
    max-width: 1200px;

    text-align: center;
}

.footer h2 {
    font-size: 1.25rem;
    font-weight: 400;
}

.footer svg {
    height: 1.25rem;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.links span {
    font-size: 1rem;
    font-weight: 375;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.info > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;
}

.info p {
    font-size: 1rem;
    font-weight: 375;

    line-height: 1.25rem;
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 6rem 3rem;
    }

    .links {
        flex-direction: row;
        gap: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .info {
        flex-direction: row;
    }
}
