.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    text-align: center;

    border-radius: 4px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title span {
    font-size: 1rem;
    font-weight: 375;
}

.title h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

.header img {
    height: auto;
    width: 75%;

    object-fit: contain;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;

    background: var(--white);
    color: var(--main);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms;
}

.link span {
    font-size: 1rem;
    font-weight: 450;

    text-shadow: 1px 1px transparent;

    transition: text-shadow 300ms;
}

.link:hover {
    border-color: var(--light-pink);
}

.link:hover span {
    text-shadow: 1px 1px var(--light-pink);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.product {
    display: flex;

    background: var(--white);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms;
}

.product img {
    padding: 1rem;

    height: auto;
    width: 100%;

    aspect-ratio: 1/1;

    object-fit: contain;
}

.product:hover {
    border-color: var(--main);
}

@media screen and (min-width: 375px) {
    .header {
        padding: 2rem;
    }
}

@media screen and (min-width: 425px) {
    .title h4 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}
