.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    padding: 1.5rem;

    background: var(--main);
    color: var(--white);

    text-align: center;

    border-radius: 4px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    max-width: 300px;
}

.title span {
    font-weight: 375;
}

.title h4 {
    font-size: 1.5rem;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem 0.75rem;

    background: var(--white);
    color: var(--main);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: transform 300ms, border-color 600ms;
}

.link:hover {
    border-color: var(--light-pink);

    transform: scale(1.05);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    background: var(--white);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms;
}

.product img {
    height: auto;
    width: 100%;

    aspect-ratio: 1/1;

    object-fit: contain;
}

.product:hover {
    border-color: var(--main);
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}
