.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
}

.card {
    display: flex;
    gap: 0.5rem;
}

.card:nth-child(even) {
    flex-direction: row-reverse;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 50%;

    background: var(--main);
    color: var(--white);

    text-align: center;

    border-radius: 4px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.title span {
    font-size: 1rem;
    font-weight: 375;
}

.title h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;

    width: fit-content;

    background: var(--white);
    color: var(--main);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms;
}

.link span {
    font-size: 1rem;
    font-weight: 450;

    text-shadow: 1px 1px transparent;

    transition: text-shadow 300ms;
}

.link:hover {
    border-color: var(--light-pink);
}

.link:hover span {
    text-shadow: 1px 1px var(--light-pink);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;

    background: var(--white);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms;
}

.image img {
    padding: 1rem;

    height: auto;
    width: 100%;

    aspect-ratio: 1/1;

    object-fit: contain;
}

.image:hover {
    border-color: var(--main);
}

@media screen and (min-width: 425px) {
    .title h4 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card:nth-child(even) {
        flex-direction: row;
    }
}
