.section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
}

.card {
    display: flex;
    gap: 0.5rem;
}

.card:nth-child(even) {
    flex-direction: row-reverse;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1.5rem;
    width: 50%;

    background: var(--main);
    color: var(--white);

    text-align: center;

    border-radius: 4px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title span {
    font-weight: 375;
}

.title h4 {
    font-size: 1.25rem;

    width: 200px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem 0.75rem;

    background: var(--white);
    color: var(--main);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: transform 300ms, border-color 600ms;
}

.link:hover {
    border-color: var(--light-pink);

    transform: scale(1.05);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    width: 50%;

    background: var(--white);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms;
}

.image img {
    height: auto;
    width: 100%;

    aspect-ratio: 1/1;

    object-fit: contain;
}

.image:hover {
    border-color: var(--main);
}

@media screen and (min-width: 375px) {
    .header {
        gap: 1rem;
    }

    .title h4 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card:nth-child(even) {
        flex-direction: row;
    }
}
