.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    padding: 1.5rem;

    height: 100%;
    width: 100%;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title span {
    font-weight: 375;
}

.title h4 {
    font-size: 1.5rem;

    width: 200px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem 0.75rem;

    background: var(--white);
    color: var(--main);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: transform 300ms, border-color 600ms;
}

.link:hover {
    border-color: var(--light-pink);

    transform: scale(1.05);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.product {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    background: var(--white);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms, filter 300ms;

    filter: drop-shadow(1px 2px 3px transparent);
}

.product img {
    height: auto;
    width: 100%;

    aspect-ratio: 1/1;

    object-fit: contain;

    transition: transform 300ms;
}

.product > span {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    padding: 0 0.5rem;
    height: 0;
    width: 100%;

    background: var(--main);
    color: var(--white);

    font-size: 1rem;
    font-weight: 400;
    text-align: center;

    overflow: hidden;

    transition: height 300ms, padding 300ms;
}

.product > span span {
    padding: 0.25rem 0.5rem;

    background: var(--white);
    color: var(--main);

    font-size: 0.75rem;
    font-weight: 400;

    border-radius: 4px;
}

.product:hover {
    border-color: var(--main);

    filter: drop-shadow(1px 2px 3px var(--main));
}

.product:hover img {
    transform: scale(0.75) translateY(-38px);
}

.product:hover > span {
    border-top: 2px solid var(--white);
    padding: 0.5rem;
    height: 58px;
}

@media screen and (min-width: 600px) {
    .product > span {
        gap: 0.5rem;
        padding: 0 1rem;
    }

    .product:hover img {
        transform: scale(0.75) translateY(-50px);
    }

    .product:hover > span {
        padding: 1rem;
        height: 76px;
    }
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .header {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .section {
        grid-template-columns: 6fr 5fr;
    }
}
