.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    max-width: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.header h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

    height: 1.075rem;

    font-size: 1.125rem;
    font-weight: 400;

    overflow: hidden;
}

:is(.header, .content) svg {
    height: 1rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1.5rem;

    background: var(--white);

    border-radius: 4px;
}
