.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
}

.wrapperLeft,
.stickyWrapper,
.wrapperRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapperRight {
    gap: 0.5rem;
}

.options,
.selectAndRemove {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.header h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

    height: 1.075rem;

    font-size: 1.125rem;
    font-weight: 400;

    overflow: hidden;
}

:is(.header, .content, .favItem) svg {
    height: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1.5rem;

    background: var(--white);

    border-radius: 4px;
}

.content > span {
    display: flex;
    gap: 1rem;

    width: 100%;
}

.selectAndRemove .content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.selectAndRemove .content > span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;

    padding: 0.5rem 0.75rem;

    font-weight: 400;

    border: 2px solid var(--gray);
    border-radius: 4px;
}

.selectAndRemove button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem 0.75rem;
    width: fit-content;

    background: var(--main);
    color: var(--white);

    border: 2px solid transparent;
    border-radius: 4px;

    cursor: pointer;

    transition: transform 300ms;
}

.selectAndRemove button:hover {
    transform: scale(1.05);
}

.selectAndRemove button:nth-child(2) {
    background: var(--gray);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    width: 100%;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1.5rem;
    width: 100%;
    height: 100%;

    background: var(--white);

    text-align: center;

    border-radius: 4px;
}

.empty h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.empty p {
    max-width: 300px;

    font-weight: 375;
}

.favItem {
    position: relative;

    display: flex;
    flex-direction: unset;
    justify-content: flex-end;
    gap: 0.25rem;

    height: 100%;
    width: 100%;

    opacity: 1;
    transition: height 300ms, width 300ms, opacity 300ms, top 300ms, left 300ms;

    overflow: hidden;
}

.checkWrapper {
    position: relative;

    display: flex;

    width: 100%;
    height: 100%;

    border-radius: 2px;
}

.checkWrapper > button {
    position: absolute;
    right: 2px;
    bottom: 2px;

    padding: 1rem;

    background: var(--white);
    color: var(--gray);

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.checkWrapper > button svg {
    height: 1.25rem;

    transition: color 300ms;
}

.loadingAction {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 0;
    height: 0;

    background: var(--white);

    border-radius: 4px;

    overflow: hidden;
    transition: width 300ms, height 300ms;
}

.loadingAction > h2 {
    position: absolute;

    color: transparent;

    transition: color 300ms;
}

.favItemOptions {
    position: absolute;
    top: 2px;
    right: 2px;

    padding: 1rem;
    aspect-ratio: 1/1;

    background: var(--white);
    color: var(--gray);

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.favItemOptions svg {
    transition: transform 300ms;
}

.favItemOptions:hover svg {
    transform: scale(1.25);
}

.favItem button:not(.favItemOptions) {
    position: absolute;
    top: 2px;
    right: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 0;
    height: 0;

    padding: 0;

    background: var(--gray);
    color: var(--white);

    border: 2px solid var(--white);
    border-radius: 50%;

    cursor: pointer;
    overflow: hidden;

    transition: border-width 150ms, padding 300ms, height 300ms, width 300ms,
        transform 300ms, right 300ms, top 300ms, background-color 300ms;
}

.favItem button:not(.favItemOptions) svg {
    filter: drop-shadow(2px 4px 6px var(--gray));
}

.favItem button:not(.favItemOptions):first-of-type {
    transition-delay: 0ms;
}

.favItem button:not(.favItemOptions):last-of-type {
    transition-delay: 50ms;
}

.favItem button:not(.favItemOptions):hover {
    background: var(--main);

    transform: scale(1.05);
}

@media screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: 'w-right w-left';
    }

    .wrapperLeft {
        grid-area: w-left;
    }

    .stickyWrapper {
        position: sticky;
        top: 84px;
    }

    .wrapperRight {
        grid-area: w-right;
    }

    .selectAndRemove .content {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: 2fr 1fr;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
