.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 2rem;
    padding-top: 99px;

    background: var(--dark);
    color: var(--white);

    text-align: center;

    min-height: 100vh;
    min-width: 100vw;
}

.notFound :where(h1, h2) {
    font-weight: 400;
}

.notFound span {
    width: 7em;
    height: 2px;

    background: var(--white);

    border-radius: 4px;
}
