/* ------------------------- FORM -------------------------  */
.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input {
    background: var(--gray);
    color: var(--white);

    padding: 0.5rem 0.75rem;

    width: 100%;

    font-size: 1rem;
    font-family: inherit;

    border: none;
    border-radius: 4px;
}

.form svg {
    height: 1rem;
}

.form select {
    padding: 0.5rem 0.75rem;
    padding-right: 0;

    background: var(--gray);

    font-size: 1rem;
    font-family: inherit;

    border: none;
    border-right: 0.75rem solid var(--gray);
    border-radius: 4px;
}

/* ------------------------- PRICE FILTER -------------------------  */
.priceFilter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;

    background: var(--white);

    border-radius: 4px;
}

.priceFilter > div {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.priceFilter > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.priceFilter button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem 0.75rem;
    width: fit-content;
    height: fit-content;

    font-size: 1rem;
    font-family: inherit;

    background: var(--main);
    color: var(--white);

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

/* ------------------------- GAMING FILTER -------------------------  */
.gamingFilter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;

    background: var(--white);

    border-radius: 4px;
}

.gamingFilter > div {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.gamingFilter span {
    padding: 0.5rem 0.75rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;

    cursor: pointer;
}

/* ------------------------- MORE FILTERS -------------------------  */
.categoryFilter,
.brandFilter,
.installmentsFilter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;

    background: var(--white);

    border-radius: 4px;
}
