/* ------------------------- HEADER -------------------------  */
.header {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background: var(--main);
    color: var(--white);

    box-shadow: 1px 1px 2px var(--dark);

    z-index: 25;
}

/* ------------------------- HEADER CONTENT CONTAINER -------------------------  */
.header > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    width: 100%;
    max-width: 1200px;
}

/* ------------------------- DROPDOWN MENU -------------------------  */
.dropdownMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    width: 100%;

    padding: 0;
    height: 0;
    overflow: hidden;
}

.dropdownMenu > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

.dropdownMenu div div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

.dropdownMenu > a,
.dropdownMenu div a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.75rem 1rem;
    width: 100%;

    background-color: var(--gray);
    color: var(--white);

    border-radius: 4px;
}

.dropdownMenu > a svg {
    height: 1.25rem;
}

.dropdownMenu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    list-style: none;
}

.dropdownMenu li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;

    background: var(--main);
    color: var(--white);

    font-size: 1rem;
    font-weight: 375;
    font-family: inherit;

    border-radius: 4px;
}

.dropdownMenu li a:hover {
    background: var(--white);
    color: var(--main);
}

/* ------------------------- LOGO -------------------------  */
.logo {
    padding: 0.5rem 0.75rem;

    background: var(--white);

    border: 2px solid var(--gray);
    border-radius: 4px;
}

.logo img {
    height: auto;
    width: 48px;
}

/* ------------------------- SEARCH BAR -------------------------  */
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    width: 100%;
}

.searchBar > input {
    padding: 0.5rem 0.75rem;

    width: 100%;

    background: var(--gray);
    color: var(--white);

    font-size: 1rem;
    font-weight: 375;
    font-family: inherit;

    border: none;
    border-radius: 4px;
}

.searchBar button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;

    background: var(--gray);
    color: var(--white);

    font-size: 1rem;
    font-family: inherit;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.searchBar svg {
    height: 1rem;
}

/* ------------------------- PROFILE -------------------------  */
.dropdownBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;

    background: var(--gray);

    font-size: 1rem;
    font-family: inherit;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

/* ------------------------- NAVIGATION LINKS -------------------------  */
.wsNav {
    display: none;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li {
    list-style: none;
}

.links li a {
    padding: 0.5rem 0.75rem;

    font-size: 1rem;
    font-weight: 375;

    border-radius: 4px;

    transition: all 300ms;
}

.links li a:hover {
    background: var(--white);
    color: var(--gray);
}

/* ------------------------- CATEGORIES SELECT -------------------------  */
.categoriesSelect {
    display: none;
    justify-content: center;
    align-items: center;
}

.categoriesSelect select {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;
    padding-right: 0;

    background: var(--gray);
    color: var(--white);

    font-size: 1rem;
    font-weight: 375;
    font-family: inherit;

    border: none;
    border-right: 0.75rem solid var(--gray);
    border-radius: 4px;
    outline: none;
}

/* ------------------------- PROFILE -------------------------  */
.profile {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.5rem 0.75rem;

    background: var(--gray);

    border-radius: 4px;
}

.profile span {
    font-size: 1rem;
    font-weight: 375;
}

.profile svg {
    height: 1rem;
}

/* ------------------------- LOGOUT & CART -------------------------  */
.logout,
.cart {
    display: none;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;

    background: var(--gray);

    border-radius: 4px;
}

.logout svg,
.cart svg {
    height: 1rem;
}

/* ------------------------- MEDIA QUERIES -------------------------  */
@media screen and (min-width: 425px) {
    .cart {
        display: flex;
    }

    .dropdownMenu > div {
        justify-content: center;
        align-items: center;
    }

    .dropdownMenu div > a {
        width: fit-content;
    }

    .dropdownMenu div div {
        width: fit-content;
    }
}

@media screen and (min-width: 600px) {
    .categoriesSelect {
        display: flex;
    }

    .dropdownMenu ul {
        gap: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .logout,
    .profile {
        display: flex;
    }

    .dropdownMenu > div > div:nth-child(1) {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .dropdownBtn,
    .dropdownMenu {
        display: none;
    }

    .wsNav {
        display: flex;
    }

    .searchBar {
        width: 25%;
    }

    .searchBar input {
        width: 100%;
    }
}
