/* ------------------------- SECTION -------------------------  */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

/* ------------------------- CARD -------------------------  */
.card {
    display: flex;
    gap: 0.5rem;

    padding: 0.5rem;

    width: 100%;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.card:nth-child(even) {
    flex-direction: row-reverse;
}

/* ------------------------- HEADER -------------------------  */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;

    width: 50%;
}

.header h4 {
    font-size: 1.25rem;
    font-weight: 500;
}

/* ------------------------- LINK -------------------------  */
.link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.75rem 1rem;

    width: fit-content;

    background: var(--white);
    color: var(--main);

    border-radius: 4px;
}

/* ------------------------- IMAGE -------------------------  */
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;

    background: var(--white);

    border-radius: 4px;
}

.image img {
    padding: 1rem;

    height: auto;
    width: 100%;

    aspect-ratio: 1/1;

    object-fit: contain;
}

@media screen and (min-width: 425px) {
    .header h4 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card:nth-child(even) {
        flex-direction: row;
    }
}
