/* ------------------------- SECTION -------------------------  */
.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;

    border-radius: 4px;
}

/* ------------------------- HEADER -------------------------  */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;

    height: 100%;
    width: 100%;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

/* ------------------------- TITLE -------------------------  */
.header > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header div span {
    font-size: 1rem;
    font-weight: 375;
}

.header h4 {
    font-size: 1.5rem;
    font-weight: 400;

    width: 200px;
}

/* ------------------------- LINK -------------------------  */
.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 0.75rem 1rem;

    height: fit-content;
    width: fit-content;

    background: var(--white);
    color: var(--main);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: all 300ms;
}

.link span {
    font-size: 1rem;
    font-weight: 500;

    text-overflow: 1px 1px transparent;

    transition: all 300ms;
}

.link svg {
    height: 1rem;

    filter: drop-shadow(1px 1px transparent);

    transition: all 300ms;
}

.link:hover {
    border-color: var(--light-pink);
}

.link:hover span {
    text-shadow: 1px 1px var(--light-pink);
}

.link:hover svg {
    filter: drop-shadow(1px 1px var(--light-pink));
}

/* ------------------------- GRID -------------------------  */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

/* ------------------------- PRODUCT -------------------------  */
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--white);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: all 300ms;
}

.product:hover {
    border-color: var(--main);
}

/* ------------------------- IMAGE -------------------------  */
.product img {
    padding: 1rem;

    height: auto;
    width: 100%;

    aspect-ratio: 1/1;

    object-fit: contain;
}

/* ------------------------- MEDIA QUERIES -------------------------  */
@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .section {
        grid-template-columns: 6fr 5fr;
    }

    .header {
        gap: 2rem;
    }
}
