/* ------------------------- SECTION -------------------------  */
.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;

    border-radius: 4px;
}

/* ------------------------- HEADER -------------------------  */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 1rem;

    height: 100%;
    width: 100%;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

/* ------------------------- TITLE -------------------------  */
.header > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.header h4 {
    font-size: 1.5rem;
    font-weight: 500;

    width: 200px;
}

/* ------------------------- LINK -------------------------  */
.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 0.75rem 1rem;

    height: fit-content;
    width: fit-content;

    background: var(--white);
    color: var(--main);

    border-radius: 4px;
}

.link svg {
    height: 1rem;
}

/* ------------------------- GRID -------------------------  */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

/* ------------------------- PRODUCT -------------------------  */
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1/1;

    background: var(--white);

    border-radius: 4px;
}

/* ------------------------- IMAGE -------------------------  */
.product img {
    padding: 1rem;

    height: auto;
    width: 100%;

    aspect-ratio: 1/1;

    object-fit: contain;
}

/* ------------------------- MEDIA QUERIES -------------------------  */
@media screen and (min-width: 425px) {
    .header {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .section {
        grid-template-columns: 3fr 5fr;
    }

    .header {
        gap: 2rem;
    }

    .product img {
        padding: 2rem;
    }
}
