.images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1.5rem;

    background: var(--white);

    border-radius: 4px;

    overflow: hidden;
}

.images > img {
    position: sticky;
    height: 300px;
    width: 90%;

    object-fit: contain;
}

.images div {
    display: flex;
    gap: 0.5rem;

    width: fit-content;
    max-width: 75vw;

    overflow-x: scroll;
}

.images div img {
    padding: 0.25rem;

    border: 2px solid var(--light-main);
    border-radius: 4px;

    object-fit: contain;

    cursor: pointer;
    transition: all 300ms;
}

@media screen and (min-width: 768px) {
    .images {
        flex-direction: row-reverse;
        justify-content: center;

        width: 100%;
        height: fit-content;
    }

    .images > img {
        height: 375px;
    }

    .images > div {
        flex-direction: column;

        overflow-x: visible;
    }
}

@media screen and (min-width: 1024px) {
    .images > img {
        height: 450px;
    }
}
