.section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.header h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.topLink {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.75rem 1rem;

    background: var(--white);
    color: var(--main);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms;
}

.topLink span {
    font-size: 1rem;
    font-weight: 450;

    text-shadow: 1px 1px transparent;

    transition: text-shadow 300ms;
}

.topLink svg {
    height: 1rem;

    filter: drop-shadow(1px 1px transparent);

    transition: filter 300ms;
}

.topLink:hover {
    border-color: var(--light-pink);
}

.topLink:hover span {
    text-shadow: 1px 1px var(--light-pink);
}

.topLink:hover svg {
    filter: drop-shadow(1px 1px var(--light-pink));
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.grid > a {
    display: none;
}

.grid > a:nth-child(-n + 4) {
    display: flex;
}

.bottomLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    background: var(--white);
    color: var(--main);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms;
}

.bottomLink span {
    font-size: 1rem;
    font-weight: 450;

    text-shadow: 1px 1px transparent;

    transition: text-shadow 300ms;
}

.bottomLink svg {
    height: 1rem;
    filter: drop-shadow(1px 1px transparent);

    transition: filter 300ms;
}

.bottomLink:hover {
    border-color: var(--main);
}

.bottomLink:hover span {
    text-shadow: 1px 1px var(--light-pink);
}

.bottomLink:hover svg {
    filter: drop-shadow(1px 1px var(--light-pink));
}

@media screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid > a:not(:nth-child(-n + 6)) {
        display: none;
    }

    .grid > a:nth-child(-n + 6) {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .topLink {
        display: flex;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid > a:not(:nth-child(-n + 4)) {
        display: none;
    }

    .grid > a:nth-child(-n + 4) {
        display: flex;
    }

    .bottomLink {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid > a:not(:nth-child(-n + 5)) {
        display: none;
    }

    .grid > a:nth-child(-n + 5) {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid > a:not(:nth-child(-n + 6)) {
        display: none;
    }

    .grid > a:nth-child(-n + 6) {
        display: flex;
    }
}
