.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
}

.wrapper h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    font-size: 1.125rem;
    font-weight: 400;

    border-radius: 4px;
}

.formField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    font-size: 1rem;
    font-weight: 375;
}

.formField label {
    font-weight: 400;
}

.formField input {
    display: flex;

    padding: 0.5rem 0.75rem;

    background: var(--gray);
    color: var(--white);

    font-size: 1rem;
    font-weight: 375;
    font-family: inherit;

    border: 2px solid transparent;
    border-radius: 4px;
}

.formField select {
    display: flex;

    padding: 0.5rem 0.75rem;

    background: var(--gray);
    color: var(--white);

    font-size: 1rem;
    font-weight: 375;
    font-family: inherit;

    border: 2px solid transparent;
    border-right: 0.75rem solid var(--gray);
    border-radius: 4px;
}

.wrapperLeft,
.stickyWrapper,
.wrapperRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapperRight svg {
    height: 1rem;
}

.currItemTop {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.currItemImg {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1.5rem;
    height: 225px;
    aspect-ratio: 4/3;

    background: var(--white);

    border-radius: 4px;
}

.currItemImg button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    width: 100%;
    height: 100%;

    background: transparent;
    color: var(--gray);

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.currItemImg svg {
    height: 1.5rem;
}

.currItemImg img {
    width: 100%;
    max-width: 175px;
    height: auto;
    max-height: 175px;
}

.currItemPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    font-size: 1rem;
    font-weight: 375;

    border-radius: 4px;
}

.currItemBottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.currItemPrice div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.currItemPrice div span:nth-child(1) {
    font-size: 0.75rem;
    font-weight: 375;

    text-decoration: line-through;
}

.currItemPrice div span:last-of-type {
    font-size: 1.125rem;
    font-weight: 375;
}

.currItemSpecs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1.5rem;

    background: var(--white);

    border-radius: 4px;
}

.currItemSpecs > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
    font-weight: 375;
}

.currItemSpecs a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.75rem 1rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.delivery,
.payment,
.couponList,
.unitsAndPrice {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sectionWrapper,
.units {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1.5rem;

    background: var(--white);

    border-radius: 4px;
}

.deliveryInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    font-size: 1rem;
    font-weight: 375;
}

.deliveryInfo p span {
    font-weight: 425;
}

.paymentPrice,
.couponDiscount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

:is(.paymentPrice, .couponDiscount) > span:nth-child(1) {
    font-size: 1rem;
    font-weight: 375;
}

:is(.paymentPrice, .couponDiscount) > span:nth-child(2) {
    font-size: 0.75rem;
    font-weight: 400;
}

.units,
.coupon,
.paymentMethod,
.deliveryAddress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cartCoupon {
    display: flex;
    justify-content: space-between;
}

.totalAndOptions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.total h3 {
    font-size: 1rem;
    font-weight: 400;
}

.total div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.total span:first-of-type {
    font-size: 0.75rem;
    font-weight: 375;

    text-decoration: line-through;
}

.total span:last-of-type {
    font-size: 1.125rem;
    font-weight: 375;
}

.options {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.options button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.75rem 1rem;
    width: 100%;

    background: var(--main);
    color: var(--white);

    font-size: 1rem;
    font-weight: 400;

    border: 2px solid transparent;
    border-radius: 4px;

    cursor: pointer;
}

.options button:last-of-type {
    background: var(--gray);
}

.discount {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: 1rem;
}

.discount span:first-of-type {
    text-decoration: line-through;

    font-weight: 400;
}

.discount span:last-of-type {
    color: var(--main);

    font-weight: 425;
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-template-areas: 'w-right w-left';
    }

    .wrapperLeft {
        grid-area: w-left;
    }

    .wrapperRight {
        grid-area: w-right;
    }

    .stickyWrapper {
        position: sticky;
        top: 84px;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: 4fr 2fr;
    }

    .coupon,
    .paymentMethod {
        flex-direction: row-reverse;
    }

    :is(.coupon, .paymentMethod) > div {
        justify-content: center;
        width: 50%;
    }

    .deliveryAddress {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .units {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .units > div {
        grid-column: span 1;
    }

    .units > div:nth-child(odd):last-child {
        grid-column: 1 / span 2;
    }

    .cartCoupon {
        padding: 1rem;

        border: 2px solid var(--gray);
        border-radius: 4px;
    }
}
