/* ------------------------- PAGE -------------------------  */
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    max-width: 1200px;
}

/* ------------------------- HEADER -------------------------  */
.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    height: 100%;
}

.header svg {
    height: 1rem;
}

.mobile button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    width: 100%;

    background: var(--main);
    color: var(--white);

    font-size: 1rem;
    font-family: inherit;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.mobile,
.desktop {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mobile > div {
    display: flex;
    gap: 0.5rem;
}

.mobile h2 {
    display: flex;

    padding: 1rem;

    background: var(--white);

    font-size: 1.125rem;
    font-weight: 500;

    border-radius: 4px;
}

.desktop > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.desktop h2 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    font-size: 1.125rem;
    font-weight: 500;

    border-radius: 4px;
}

.desktop p {
    display: flex;

    padding: 1rem;

    background: var(--white);

    border-radius: 4px;
}

.desktop > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.desktop {
    display: none;
}

/* ------------------------- RESULTS -------------------------  */
.results {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
}

.results > div > button {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.75rem 1rem;

    background: var(--white);
    color: var(--gray);

    font-size: 1rem;
    font-family: inherit;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.results > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

/* ------------------------- GRID -------------------------  */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

/* ------------------------- MODAL -------------------------  */
.modal[open] {
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem;

    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;

    background: transparent;

    border: none;

    overflow-x: auto;
}

.modal[open]::backdrop {
    background: #6e13c4da;
    backdrop-filter: blur(0.25rem);
}

.modal > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0.5rem;

    color: var(--gray);

    border-radius: 4px;

    overflow-y: auto;
}

.modal > div > button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.75rem 1rem;

    background: var(--white);
    color: var(--main);

    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

/* ------------------------- ORDER BY -------------------------  */
.orderBy {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    text-align: center;
}

.orderBy > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;

    background: var(--white);

    border: 4px;
    border-radius: 4px;
}

.orderBy h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    background: var(--white);

    font-size: 1.5rem;
    font-weight: 600;

    border-radius: 4px;
}

.orderBy button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.75rem 1rem;

    background: var(--main);
    color: var(--white);

    font-size: 1rem;
    font-family: inherit;

    border: none;
    border-radius: 4px;
}

/* ------------------------- ORDER BY FOR WIDE SCREENS -------------------------  */
.desktopOrderBy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    width: 100%;

    text-align: center;
}

.desktopOrderBy label {
    font-size: 1.25rem;
    font-weight: 500;
}

.desktopOrderBy select {
    padding: 0.5rem 0.75rem;

    background: var(--white);
    color: var(--gray);

    font-size: inherit;

    border: none;
    border-right: 0.75rem solid var(--white);
    border-radius: 4px;
}

/* ------------------------- MEDIA QUERIES -------------------------  */
@media screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .results > div > button {
        display: flex;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
