.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
}

.wrapper svg {
    height: 1rem;
}

.top {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.topLeft,
.topRight {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.topLeft :where(h1, div) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.top h1 {
    font-size: 1.125rem;
    font-weight: 400;
}

.top span {
    font-size: 1rem;
    font-weight: 375;
}

.details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    width: 100%;
}

.cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;
    width: 100%;

    background: var(--white);
    color: var(--gray);

    border: 2px solid transparent;
    border-radius: 4px;

    transition: border-color 300ms;
    cursor: pointer;
}

.cell > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.cell h2 {
    font-size: 1.125rem;
    font-weight: 400;

    text-shadow: 1px 1px transparent;

    transition: color 300ms, text-shadow 300ms;
}

.cell p {
    font-size: 1rem;
    font-weight: 375;

    width: fit-content;

    transition: transform 300ms, font-weight 300ms;
}

.cell svg {
    height: 1rem;

    filter: drop-shadow(2px 2px transparent);

    transition: color 300ms, filter 300ms;
}

.cell:hover {
    border-color: var(--main);
}

.cell:hover h2 {
    color: var(--main);

    text-shadow: 1px 1px var(--light-pink);
}

.cell:hover p {
    transform: translateX(0.5rem);
    font-weight: 450;
}

.cell:hover svg {
    color: var(--main);

    filter: drop-shadow(2px 2px var(--light-pink));
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

.edit,
.logout,
.delete {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    width: 100%;

    background: var(--gray);
    color: var(--white);

    font-size: 1rem;
    font-family: inherit;
    font-weight: 375;

    white-space: nowrap;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete {
    background: var(--danger);
    color: var(--white);
}

.topRight :where(.logout, .delete) {
    display: none;
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 5vh 1rem;
        padding: 5dvh 1rem;
    }

    .top {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .topLeft {
        flex-direction: row;
    }

    .topRight {
        flex-direction: row;
    }

    .topRight :where(.logout, .delete) {
        display: flex;
    }

    .details {
        grid-template-columns: repeat(2, 1fr);
    }

    .bottom {
        display: none;
    }

    .topLeft :where(h1, div),
    .topRight :where(.edit, .logout, .delete) {
        padding: 0.5rem 0.75rem;
    }

    .editForm form {
        grid-template-columns: repeat(2, 1fr);
    }
}
