.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    max-width: 1200px;
}

.wrapperLeft,
.stickyWrapper,
.wrapperRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapperRight {
    gap: 0.5rem;
}

.options,
.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    background: var(--main);
    color: var(--white);

    border-radius: 4px;
}

.header h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

    height: 1.075rem;

    font-size: 1.125rem;
    font-weight: 400;

    overflow: hidden;
}

:is(.header, .content, .cartItem) svg {
    height: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1.5rem;

    background: var(--white);

    border-radius: 4px;
}

.content p {
    display: flex;
    gap: 1rem;

    width: 100%;
}

.details .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    align-items: center;
}

.details :where(table, tbody) {
    width: 100%;
}

.details tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 1rem;
}

.details tr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;

    text-align: center;
}

.details th {
    padding: 0.5rem 0.75rem;
    width: 100%;

    background: var(--main);
    color: var(--white);

    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;

    border-radius: 4px;
}

.details td {
    padding: 0.5rem 0.75rem;
    width: 100%;

    background: var(--gray);
    color: var(--white);

    font-size: 1rem;
    font-weight: 375;

    border-radius: 4px;
}

.details .content div {
    display: flex;
    gap: 1rem;

    width: 100%;
}

.details .content div span {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 0.75rem;

    background: var(--gray);
    color: var(--white);

    white-space: nowrap;

    border-radius: 4px;
}

.details a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    padding: 0.5rem 0.75rem;
    width: 100%;

    background: var(--main);
    color: var(--white);

    text-align: center;

    border: 2px solid transparent;
    border-radius: 4px;

    transition: transform 300ms;
}

.details a:hover {
    transform: scale(1.05);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

    width: 100%;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1.5rem;
    width: 100%;
    height: 100%;

    background: var(--white);

    text-align: center;

    border-radius: 4px;
}

.empty h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.empty p {
    max-width: 300px;

    font-weight: 375;
}

.cartItem {
    position: relative;

    display: flex;
    flex-direction: unset;
    justify-content: flex-end;
    gap: 0.25rem;

    height: 100%;
    width: 100%;
}

.cartItemOptions {
    position: absolute;
    top: 2px;
    right: 2px;

    padding: 1rem;
    aspect-ratio: 1/1;

    background: var(--white);
    color: var(--gray);

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

.cartItemOptions svg {
    transition: transform 300ms;
}

.cartItemOptions:hover svg {
    transform: scale(1.25);
}

.cartItem button:not(.cartItemOptions) {
    position: absolute;
    top: 2px;
    right: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 0;
    height: 0;

    padding: 0;

    background: var(--gray);
    color: var(--white);

    border: 2px solid var(--white);
    border-radius: 50%;

    cursor: pointer;
    overflow: hidden;

    transition: border-width 150ms, padding 300ms, height 300ms, width 300ms,
        transform 300ms, right 300ms, top 300ms, background-color 300ms;
}

.cartItem button:not(.cartItemOptions) svg {
    filter: drop-shadow(2px 4px 6px var(--gray));
}

.cartItem button:not(.cartItemOptions):first-of-type {
    transition-delay: 0ms;
}

.cartItem button:not(.cartItemOptions):last-of-type {
    transition-delay: 50ms;
}

.cartItem button:not(.cartItemOptions):hover {
    background: var(--main);

    transform: scale(1.05);
}

@media screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: 'w-right w-left';
    }

    .wrapperLeft {
        grid-area: w-left;
    }

    .stickyWrapper {
        position: sticky;
        top: 84px;
    }

    .wrapperRight {
        grid-area: w-right;
    }

    .details button {
        gap: 1rem;
        padding: 0.5rem 0.75rem;
        width: fit-content;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: 'w-right w-left';
    }

    .wrapperLeft {
        grid-area: w-left;
    }

    .stickyWrapper {
        position: sticky;
        top: 84px;
    }

    .wrapperRight {
        grid-area: w-right;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: 2fr 1fr;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
